<?xml version="1.0"?>
<config>
    <modules>
       <ECGiken_Gmo>
          <version>0.2.2</version>
       </ECGiken_Gmo>
    </modules>
    <global>
        <models>
            <ecggmo>
                <class>ECGiken_Gmo_Model</class>
            </ecggmo>
        </models>
        <blocks>
            <ecggmo>
                <class>ECGiken_Gmo_Block</class>
            </ecggmo>
        </blocks>
        <helpers>
            <ecggmo>
                <class>ECGiken_Gmo_Helper</class>
            </ecggmo>
        </helpers>
        <resources>
            <ecggmo_setup>
                <setup>
                    <module>ECGiken_Gmo</module>
                    <class>ECGiken_Gmo_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecggmo_setup>
            <ecggmo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecggmo_write>
            <ecggmo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecggmo_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <gmo_access_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_access_id>
                <gmo_access_pass>
                    <to_order_payment>*</to_order_payment>
                </gmo_access_pass>
                <gmo_approve>
                    <to_order_payment>*</to_order_payment>
                </gmo_approve>
                <gmo_tran_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_tran_id>
                <gmo_order_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_order_id>
                <gmo_conf_no>
                    <to_order_payment>*</to_order_payment>
                </gmo_conf_no>
                <gmo_receipt_no>
                    <to_order_payment>*</to_order_payment>
                </gmo_receipt_no>
                <gmo_cvs_name>
                    <to_order_payment>*</to_order_payment>
                </gmo_cvs_name>
                <gmo_cvs_code>
                    <to_order_payment>*</to_order_payment>
                </gmo_cvs_code>
                <gmo_cvs_pay_limit>
                    <to_order_payment>*</to_order_payment>
                </gmo_cvs_pay_limit>
                <gmo_cc_card_seq>
                    <to_order_payment>*</to_order_payment>
                </gmo_cc_card_seq>
                <gmo_cc_card_data>
                    <to_order_payment>*</to_order_payment>
                </gmo_cc_card_data>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <gmo>
                <use>standard</use>
                <args>
                    <module>ECGiken_Gmo</module>
                    <frontName>gmo</frontName>
                </args>
            </gmo>
        </routers>
        <translate>
            <modules>
                <ECGiken_Gmo>
                    <files>
                        <default>ECGiken_Gmo.csv</default>
                    </files>
                </ECGiken_Gmo>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecggmo>
                    <file>ecggmo/checkout.xml</file>
                </ecggmo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ECGiken_Gmo before="Mage_Adminhtml">ECGiken_Gmo</ECGiken_Gmo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <ECGiken_Gmo>
                    <files>
                        <default>ECGiken_Gmo.csv</default>
                    </files>
                </ECGiken_Gmo>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ecggmo translate="title" module="ecggmo">
                                            <title>GMO Payment Module</title>
                                        </ecggmo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ecggmo>
            <ecggmo_common>
                <module_conf_dir>lib/conf</module_conf_dir>
                <exec_crontab>0</exec_crontab>
                <crontab_debug>0</crontab_debug>
            </ecggmo_common>
        </ecggmo>
        <payment>
            <ecggmo_cc>
                <model>ecggmo/cc_paymentMethod</model>
                <active>0</active>
                <title>Credit Card (GMO)</title>
                <cctypes>VI,MC,JCB,AE,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <can_use_internal>0</can_use_internal>
                <save_card>0</save_card>
                <member_prefix></member_prefix>
                <delete_card>0</delete_card>
                <debug>0</debug>
                <test>0</test>
                <sort_order>100</sort_order>
            </ecggmo_cc>
            <ecggmo_cvs>
                <model>ecggmo/cvs_paymentMethod</model>
                <active>0</active>
                <title>CVS (GMO)</title>
                <payment_action>cvn_payment</payment_action>
                <cvstypes>00001,00002,00003,00005,00006,00007</cvstypes>
                <payment_term>10</payment_term>
                <inquiries>Shop name</inquiries>
                <contact_phone_number></contact_phone_number>
                <reception_hours>09:00-18:00</reception_hours>
                <message_a></message_a>
                <message_b></message_b>
                <message_c></message_c>
                <send_capture_email>1</send_capture_email>
                <can_use_internal>0</can_use_internal>
                <debug>0</debug>
                <sort_order>100</sort_order>
            </ecggmo_cvs>
        </payment>
    </default>
    <crontab>
        <jobs>
            <ecgiken_gmo_searchtrademulti>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ecggmo/cron_searchTradeMulti::run</model>
                </run>
            </ecgiken_gmo_searchtrademulti>
        </jobs>
    </crontab>
</config>
