<?xml version="1.0"?>
<config>
    <modules>
        <Verite_Japanpost>
            <version>1.1.0</version>
        </Verite_Japanpost>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <japanpost before="Mage_Adminhtml">Verite_Japanpost_Adminhtml</japanpost>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Verite_Japanpost>
                    <files>
                        <default>Verite_Japanpost.csv</default>
                    </files>
                </Verite_Japanpost>
            </modules>
        </translate>
        <layout>
            <updates>
                <japanpost>
                    <file>verite_japanpost.xml</file>
                </japanpost>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <japanpost_action>
                        <class>japanpost/observer</class>
                        <method>addExtraItems</method>
                    </japanpost_action>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <japanpost>
                <class>Verite_Japanpost_Model</class>
                <resourceModel>japanpost_mysql4</resourceModel>
            </japanpost>
            <japanpost_mysql4>
                <class>Verite_Japanpost_Model_Mysql4</class>
                <entities>
                    <tablerate>
                        <table>japanpost_shipping_tablerate</table>
                    </tablerate>
                    <log>
                        <table>japanpost_log</table>
                    </log>
                    <log_detail>
                        <table>japanpost_log_detail</table>
                    </log_detail>
                    <import_buffer>
                        <table>japanpost_import_buffer</table>
                    </import_buffer>
                    <export_buffer>
                        <table>japanpost_export_buffer</table>
                    </export_buffer>
                </entities>
            </japanpost_mysql4>
        </models>
        <sales>
            <shipping>
                <carriers>
                    <japanpost>
                        <class>Verite_Japanpost_Model_Carrier_Japanpost</class>
                    </japanpost>
                </carriers>
            </shipping>
        </sales>
        <resources>
            <japanpost_setup>
                <setup>
                    <module>Verite_Japanpost</module>
                    <class>Verite_Japanpost_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </japanpost_setup>
            <japanpost_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </japanpost_write>
            <japanpost_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </japanpost_read>
        </resources>
        <blocks>
            <japanpost>
                <class>Verite_Japanpost_Block</class>
            </japanpost>
        </blocks>
        <helpers>
            <japanpost>
                <class>Verite_Japanpost_Helper</class>
            </japanpost>
        </helpers>
    </global>
    <default>
        <carriers>
            <japanpost>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <include_virtual_price>1</include_virtual_price>
                <model>japanpost/carrier_japanpost</model>
                <name>日本郵便</name>
                <title>ゆうパック</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </japanpost>
        </carriers>
    </default>
</config>