<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Rack_DeliveryDate>
            <version>0.2.9</version>
        </Rack_DeliveryDate>
    </modules>
    <global>
        <helpers>
            <deliverydate>
                <class>Rack_DeliveryDate_Helper</class>
            </deliverydate>
        </helpers>
        <blocks>
            <deliverydate>
                <class>Rack_DeliveryDate_Block</class>
            </deliverydate>
        </blocks>
        <models>
            <deliverydate>
                <class>Rack_DeliveryDate_Model</class>
            </deliverydate>
        </models>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>Rack_DeliveryDate</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydate_setup>
        </resources>
        <events>
            <sales_convert_quote_address_to_order>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>salesEventConvertQuoteAddressToOrder</method>
                    </deliverydate>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_convert_quote_to_order>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </deliverydate>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <deliverydate before="Mage_Adminhtml">Rack_DeliveryDate_Adminhtml</deliverydate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>saveShippingMethodHandler</method>
                    </deliverydate>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>saveShippingMethodHandler</method>
                    </deliverydate>
                </observers>
            </checkout_controller_multishipping_shipping_post>
        </events>
        <layout>
            <updates>
                <deliverydate>
                    <file>rack_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_DeliveryDate>
                    <files>
                        <default>Rack_DeliveryDate.csv</default>
                    </files>
                </Rack_DeliveryDate>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <deliverydate>
                                            <label>Delivery Date Setting</label>
                                        </deliverydate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deliverydate>
                    <file>rack_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_DeliveryDate>
                    <files>
                        <default>Rack_DeliveryDate.csv</default>
                    </files>
                </Rack_DeliveryDate>
            </modules>
        </translate>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <deliverydate>
                        <type>model</type>
                        <class>deliverydate/observer</class>
                        <method>saveShippingMethodHandlerForAdmin</method>
                    </deliverydate>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>
    <default>
        <deliverydate>
            <date>
                <minday>2</minday>
                <maxday>5</maxday>
                <display_format><![CDATA[Y年m月d日]]></display_format>
                <exclude_holiday>0</exclude_holiday>
                <exclude_satsun>1</exclude_satsun>
            </date>
        </deliverydate>
    </default>
</config>
