<?xml version="1.0"?>
<config>
    <modules>
        <Rack_Jp_Validator>
            <version>0.5.2</version>
        </Rack_Jp_Validator>
    </modules>
    <global>
        <models>
            <validator>
                <class>Rack_Jp_Validator_Model</class>
            </validator>
            <customer>
                <rewrite>
                    <customer>Rack_Jp_Validator_Model_Customer</customer>
                    <address>Rack_Jp_Validator_Model_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote_address>Rack_Jp_Validator_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <validator>
                <class>Rack_Jp_Validator_Helper</class>
            </validator>
        </helpers>
        <events>
            <controller_action_predispatch_customer_address_formPost>
                <observers>
                    <validator>
                        <class>Rack_Jp_Validator_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_customer_address_formPost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <validator>
                        <class>Rack_Jp_Validator_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <validator>
                        <class>Rack_Jp_Validator_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <validator>
                        <class>Rack_Jp_Validator_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <controller_action_predispatch_paypal_express_updateOrder>
                <observers>
                    <validator>
                        <class>Rack_Jp_Validator_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_paypal_express_updateOrder>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Rack_Jp_Validator>
                    <files>
                        <default>Rack_Jp_Validator.csv</default>
                    </files>
                </Rack_Jp_Validator>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Rack_Jp_Validator>
                    <files>
                        <default>Rack_Jp_Validator.csv</default>
                    </files>
                </Rack_Jp_Validator>
            </modules>
        </translate>
        <layout>
            <updates>
                <validator>
                    <file>jp_validator.xml</file>
                </validator>
            </updates>
        </layout>
    </frontend>
    <default>
        <jpcore>
            <validator>
                <namelength>50</namelength>
                <addresslength>100</addresslength>
                <forcefullwidthaddress>0</forcefullwidthaddress>
                <validateaddresstotallength>0</validateaddresstotallength>
                <forcefullwidthname>0</forcefullwidthname>
                <forcedigitsforpost>1</forcedigitsforpost>
                <separatepostcode>0</separatepostcode>
                <postcodeseparator>-</postcodeseparator>
                <numberofpostcodeform>2</numberofpostcodeform>
                <postmaxlength>8</postmaxlength>
                <forcedigitsfortel>1</forcedigitsfortel>
                <separatetel>0</separatetel>
                <telseparator>-</telseparator>
                <numberoftelform>3</numberoftelform>
                <telmaxlength>11</telmaxlength>
            </validator>
            <name>
                <requirekana>1</requirekana>
                <kanaformat>0</kanaformat>
            </name>
        </jpcore>
    </default>
</config>
