<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Rack_Getpostcode>
            <version>0.3.0</version>
        </Rack_Getpostcode>
    </modules>
    <global>
        <helpers>
            <getpostcode>
                <class>Rack_Getpostcode_Helper</class>
            </getpostcode>
        </helpers>
        <models>
            <getpostcode>
                <class>Rack_Getpostcode_Model</class>
            </getpostcode>
        </models>
        <blocks>
            <getpostcode>
                <class>Rack_Getpostcode_Block</class>
            </getpostcode>
        </blocks>
    </global>
    
    <frontend>
        <routers>
            <getpostcode>
                <use>standard</use>
                <args>
                    <module>Rack_Getpostcode</module>
                    <frontName>getpostcode</frontName>
                </args>
            </getpostcode>
        </routers>
        <layout>
            <updates>
                <getpostcode>
                    <file>rack_getpostcode.xml</file>
                </getpostcode>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_Getpostcode>
                    <files>
                        <default>Rack_Getpostcode.csv</default>
                    </files>
                </Rack_Getpostcode>
            </modules>
        </translate>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <getpostcode before="Mage_Adminhtml">Rack_Getpostcode_Adminhtml</getpostcode>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Rack_Getpostcode>
                    <files>
                        <default>Rack_Getpostcode.csv</default>
                    </files>
                </Rack_Getpostcode>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <system>
                    <children>
                        <config>
                            <children>
                                <getpostcode>
                                    <title>Postcode Auto filling</title>
                                </getpostcode>
                            </children>
                        </config>
                    </children>
                </system>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <customer>
            <address>
                <getpostcode>0</getpostcode>
            </address>
        </customer>
    </default>
</config>