<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Rack_Pdf>
            <version>0.1.0</version>
        </Rack_Pdf>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Rack_Pdf_Block_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <pdf>
                <class>Rack_Pdf_Helper</class>
            </pdf>
        </helpers>
        <rewrite>
            <Rack_Pdf_OrderController>
                <from><![CDATA[#/\w+/sales_order/print/#]]>
                </from>
                <to>/pdf/order/print/</to>
            </Rack_Pdf_OrderController>
        </rewrite>
        <models>
            <sales>
                <rewrite>
                    <order_pdf_creditmemo>Rack_Pdf_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_invoice>Rack_Pdf_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>Rack_Pdf_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <pdf>
                <class>Rack_Pdf_Model</class>
            </pdf>
        </models>
        <pdf>
            <order>
                <default>pdf/order_pdf_items_order_default</default>
                <grouped>pdf/order_pdf_items_order_grouped</grouped>
            </order>
            <invoice>
                <default>pdf/sales_order_pdf_items_invoice_default</default>
            </invoice>
            <shipment>
                <default>pdf/sales_order_pdf_items_shipment_default</default>
            </shipment>
            <creditmemo>
                <default>pdf/sales_order_pdf_items_creditmemo_default</default>
            </creditmemo>
        </pdf>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <pdf>
                        <class>pdf/observer</class>
                        <method>addOptionToSelect</method>
                    </pdf>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <Rack_Pdf>
                    <files>
                        <default>Rack_Pdf.csv</default>
                    </files>
                </Rack_Pdf>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pdf>
                                            <label>PDF font setting</label>
                                        </pdf>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <Rack_Pdf>
                <use>admin</use>
                <args>
                    <module>Rack_Pdf</module>
                    <!-- This is used when "catching" the rewrite above -->
                    <frontName>pdf</frontName>
                </args>
            </Rack_Pdf>
        </routers>
    </admin>
    <default>
        <pdf>
            <font>
                <reguler>lib/LinLibertineFont/LinLibertineC_Re-2.8.0.ttf</reguler>
                <bold>lib/LinLibertineFont/LinLibertine_Bd-2.8.1.ttf</bold>
                <italic>lib/LinLibertineFont/LinLibertine_It-2.8.2.ttf</italic>
            </font>
        </pdf>
    </default>
</config>
